@tailwind base;
@tailwind components;
@tailwind utilities;



 


.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.range-brown {
  height: 6px;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
}

.range-brown::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  appearance: none;
  border-radius: 9999px;
  background-color: #7a5832;
}

.range-brown::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: 0;
  border-radius: 9999px;
  background-color: #7a5832;
}